.googleButton {
  width: 100%;
}

.form-style-5 {
  width: 500px;
  padding: 10px 20px;
  background: white;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 20px;
}
.form-style-5 label {
  display: block;
  margin-bottom: 8px;
}
.form-style-5 input[type='text'],
.form-style-5 select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}
.form-style-5 input[type='text']:focus,
.form-style-5 select:focus {
  background: #d2d9dd;
}
.form-style-5 select {
  -webkit-appearance: menulist-button;
  height: 35px;
}

.form-style-5 input[type='submit'],
.form-style-5 input[type='button'] {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}
.form-style-5 input[type='submit']:hover,
.form-style-5 input[type='button']:hover {
  background: #109177;
}
